<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://github.com/johnchristotle/icon" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Request Header Parser Microservice App</h2>
        <h3>Example Usage:</h3>
        <p>
          <a href="https://requestheader-johnchristotle.glitch.me/api/whoami/" target="_blank">https://requestheader-johnchristotle.glitch.me/api/whoami/</a>
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"197.211.59.115","language":"en-GB,en;q=0.9,en-US;q=0.8",<br>"software":"Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36"}</code>
        </p>
      </div>
      <div class="footer">
         <p>by <a href="https://github.com/johnchristotle">Christotle Agholor</a></p>
      </div>
   </body>


</html>
